<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Just Add 1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>502605881E0820D700E8E483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5026059C1E0820D800E8E483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>502605A71E0820D800E8E483</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
